{% extends "voc2.j2" %}

{% block summary %}
<p>
Het GIS bedrijventerreinen is een Vlaamse authentieke geografische gegevensbron in beheer van het Agentschap Innoveren en Ondernemen. Het beschrijft de economische bestemming van land in Vlaanderen. Het omvat twee grote entiteiten, namelijk percelen en terreinen. Percelen zijn gebruikspercelen met informatie inzake bebouwing, functie, gebruik en beschikbaarheid aangevuld met verschillende soorten beperkingen naar ontwikkelings- en activeringspotentieel. Terreinen zijn op hun beurt de contouren van een geheel van bedrijventerreinen doorheen de fases van planning – ontwikkeling – realisatie en beheer.


Dit is het vocabularium Bedrijventerrein en beschrijft de verschillende termen en definities die werden opgenomen ter ondersteuning van het applicatieprofiel bedrijventerrein. 

</p>
{% endblock %}

