{% extends "ap2.j2" %}

{% block summary %}
<p>
Het applicatieprofiel bedrijventerrein beschrijft de economische bestemming van land in Vlaanderen. 

Het GIS bedrijventerreinen is een Vlaamse authentieke geografische gegevensbron in beheer van het Agentschap Innoveren en Ondernemen. Het geeft de concrete invulling aan het applicatieprofiel. Het omvat twee grote entiteiten, namelijk percelen en terreinen. Percelen zijn gebruikspercelen met informatie inzake bebouwing, functie, gebruik en beschikbaarheid aangevuld met verschillende soorten beperkingen naar ontwikkelings- en activeringspotentieel. Terreinen zijn op hun beurt de contouren van een geheel van bedrijventerreinen doorheen de fases van planning – ontwikkeling – realisatie en beheer.

Met dit applicatieprofiel ontstaat er een kader voor de inwinning van de gegevens en voor het hergebruik door derden.  

</p><p>
{% endblock %}


