{% extends "impl.j2" %}

{% block summary %}
<p>
Dit is een implementatie model gebasseerd op bestaande vocabularia en applicatie profiel m.b.t. Percelen: <a href="https://data.vlaanderen.be/ns/perceel">OSLO vocabularium Perceel</a> & <a href="https://data.vlaanderen.be/doc/applicatieprofiel/perceel/">OSLO applicatie profiel Perceel</a>.
</p><p>
De implementatie waarop dit model betrekking heeft is de API end points voor het Vlaamse Gebouwen en adressen-register: GRAR.
</p>
{% endblock %}


